Clonal prediction score (CPS) quantifies how well a primer set is able to distinguish identical HIV-1 genomes.  The CPS is equal to the fraction of unique, full-length* HIV-1 genomes that are correctly identified as unique using only the region amplified by that primer set.

<br>
<br>

The maximum possible CPS is 100.  A primer set with a CPS of 100 produces a unique amplicon for every sequence amplified.  Sequences that cannot be amplified by a primer set because they contain gaps overlapping the primer sites are not considered in the calculation of CPS.    

<br>
<br>

To calculate the CPS for your primer set:
<ol>
<li>Enter the HXB2 coordinates of your forward and reverse primers.  The default coordinates define an amplicon spanning p6-gag-pro, originally published by Palmer et al. (PMID 15635002).</li>
<li>Check the box(es) next to the sample type(s) that most closely represent the HIV sample you are amplifying with your primers.  For proviral DNA samples, we recommend checking all three DNA sample type boxes.</li>
<li>Click the “submit primer” button.</li>
<li>The tool will print out the HXB2 sequence at the primer sites specified.  Verify that the sequences match your primers.  If not, enter adjusted primer coordinates and press “submit primer” again. </li>
</ol>

<br>

Understanding output from the CPS calculator:

<br>
<br>

Your CPS is…
<br>
The CPS calculated for your primer set and the sample type(s) you selected is displayed in a red box.
<br>
Table data
<br>
The output table shows the results for each individual sequence alignment used to calculate your CPS.  Each row in the table represents an alignment of sequences isolated from a single infected individual.  The columns in the table show the subject ID for each alignment (subject); the total number of sequences in the alignment for that subject (total); the number of those sequences that would be detected in a PCR using your primers, i.e. the number of sequences that do not have sequence gaps overlapping your primer binding sites (detectable); and the number of unique amplicons that would be produced by that PCR (unique detectable).
<br>
Graph (optional)
<br>
You can graph your sequence data (alignments or phylogenetic trees) in the context of the CPS of the primer set used to generate those data.  The CPS quantifies the false-positive background level of clonality you may see in your own sequence data. 
<br>

* The sequences used to calculate CPS are sequenced from (at a minimum) HXB2 coordinates 2000 to 8000.  If your primers bind outside of this region, sequences that are not characterized where your primers bind will not be used to calculate your CPS.  This tool cannot be used to calculate CPS values for primers located in the 5’ LTR. 
