  <div class="box1">

  <span class="f1"> <!-- f1 font style -->
  Please input your primer coordinates:
  <br>
  <br>
  <span class="plab">Forward start:</span>
  <input class="pin style2" type="number" ng-model="primerobj.forwardStart" min="1"/>
  <br>
  <span class="plab">Forward end:</span>
  <input class="pin style2" type="number" ng-model="primerobj.forwardEnd" min="1"/>
  <br>
  <span class="plab">Reverse start:</span>
  <input class="pin style2" type="number" ng-model="primerobj.reverseStart" min="1"/>
  <br>
  <span class="plab">Reverse end:</span>
  <input class="pin style2" type="number" ng-model="primerobj.reverseEnd" min="1"/>

  <br>
  <br>
  <br>

  <button class="myButton" ng-click="submitPrimer()">submit primer</button>

  <br>

  <div class="box4" ng-cloak ng-if="warning">
    <br>
    <div class="alert">{{ warning }}</div>
  </div>

  <br>

  <!-- http://stackoverflow.com/questions/14514461/angularjs-how-to-bind-to-list-of-checkbox-values -->
  <label ng-cloak ng-repeat="pcat in pcategories">
    <input type="checkbox" ng-model="pcat.ischecked"/> {{pcat.name}}
    <br>
  </label>

  <!-- once data has finished loading, output goes here: -->
  <div ng-cloak ng-if="myoutput && !isLoadingMessage">
    <br>
    HXB2 sequence at primer sites:
    <br>
    <br>
    <u>Forward primer</u>:
    <div class="box5">{{ fprimer }}&nbsp;</div>
    <br>
    <u>Reverse primer</u>:
    <div class="box5">{{ rprimer }}&nbsp;</div>
    <br>
    <u>Reverse primer (rev. complement)</u>:
    <div class="box5">{{ rcrprimer }}&nbsp;</div>
  </div>

  </span> <!-- f1 font style -->
  </div> <!-- box1 -->

  <div class="box1">
  <span class="f1"> <!-- f1 font style -->

  <!-- while the data is loading, display message: -->
  <div ng-cloak ng-if="isLoadingMessage">
    <i class="alert2">{{ isLoadingMessage }}</i>
  </div>

  <!-- once data has finished loading, output goes here: -->
  <div ng-cloak ng-if="myoutput && !isLoadingMessage">

    <span class="heavyredborder">Your CPS is: {{ cps | number }} (standard dev: {{ std | number }})</span>

    <br>
    <br>

    Table data:

    <br>
    <br>

    <table border="1">
      <tr>
      <td><strong>subject</strong></td>
      <td><strong>total</strong></td>
      <td><strong>detectable</strong></td>
      <td><strong>unique detectable</strong></td>
      <!--
      <td><strong>unique_amp</strong></td>
      <td><strong>%amp</strong></td>
      <td><strong>%det</strong></td>
      -->
      </tr>

      <tr ng-repeat="(key, val) in myoutput">
      <td>{{key}}</td>
      <td>{{val.total_list[0] | number}}</td>
      <td>{{val.detectable_list[0] | number}}</td>
      <td>{{val.unique_list[0] | number}}</td>
      <!--
      <td>{{val.unique_amp_list[0] | number}}</td>
      <td>{{val.p_amp_list[0] | number}}</td>
      <td>{{val.p_det_list[0] | number}}</td>
      -->
      </tr>
    </table>

    <br>

  </div> <!-- output -->

  <!-- C3.js -->
  <!-- hard won fact: C3.js doesn't play well with ng-cloak -->
  <div id="chart"></div>

  <!-- user can add points to graph -->
  <div class="box6" ng-cloak ng-if="myoutput && !isLoadingMessage">
  <small>

    <br>
    Add data points to the graph:
    <br>
    <br>
    <span class="plab"># total sequences analyzed:</span>
    <input class="pin style2" type="number" ng-model="userobj.totseq" min="0"/>
    <br>
    <span class="plab"># uniq sequences analyzed:</span>
    <input class="pin style2" type="number" ng-model="userobj.uniqseq" min="0"/>
    <br>
    <br>
    <br>

    <div class="center2">
    <button class="myButton" ng-click="addPoints()">submit data</button>
    </div>

  </small>
  </div> <!-- add points to graph  -->

  </span> <!-- f1 font style -->
  </div> <!-- box1 -->

  <p class="clear"></p>
