<!doctype html>

<html>

<head>
  <meta charset="utf-8">

  <title>HIV CPS Calculator</title>

  <!-- meta --> 
  <meta name="description" content="HIV Clonal Prediction Score Web App">
  <meta name="author" content="me">

  <!-- CSS --> 
  <link href="css/custom/custom.css" rel="stylesheet" type="text/css">
  <link href="css/vendor/c3.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Crimson+Text|Cinzel|Cantata+One" rel="stylesheet" type="text/css">

  <!-- AngularJS -->
  <script type="text/javascript" src="js/vendor/angular.min.js"></script>

  <!-- more JS -->
  <script type="text/javascript" src="js/custom/cpsangular.js"></script>
  <script type="text/javascript" src="js/custom/cpscalculator.js"></script>
  <script type="text/javascript" src="js/vendor/math.min.js"></script>
  <script type="text/javascript" src="js/vendor/d3.min.js"></script>
  <script type="text/javascript" src="js/vendor/c3.min.js"></script>

</head>

<body>

  <span ng-app="cpsApp">
  <span ng-controller="cpsCtrl">
   
  <div class="center">

  <div class="f0">Clonal Prediction Score for HIV-1 Sequences</div>
  <i class="subhead">A Tool for Evaluating a Primer Set Against HXB2</i>
  <br>
  <br>

  <br>
  <hr>
  <br>

  <div class="box1">
  <span class="f1"> <!-- f1 font style -->
  Please input your primer coordinates:
  <br>
  <br>
  <span class="plab">Forward start:</span>
  <input class="pin style2" type="number" ng-model="primerobj.forwardStart" min="1"/>
  <br>
  <span class="plab">Forward end:</span>
  <input class="pin style2" type="number" ng-model="primerobj.forwardEnd" min="1"/>
  <br>
  <span class="plab">Reverse start:</span>
  <input class="pin style2" type="number" ng-model="primerobj.reverseStart" min="1"/>
  <br>
  <span class="plab">Reverse end:</span>
  <input class="pin style2" type="number" ng-model="primerobj.reverseEnd" min="1"/>

  <br>
  <br>
  <br>

  <button class="myButton" ng-click="submitPrimer()">submit primer</button>

  <br>

  <div class="box4" ng-cloak ng-if="warning">
    <br>
    <div class="alert">{{ warning }}</div>
  </div>

  <br>

  <!-- http://stackoverflow.com/questions/14514461/angularjs-how-to-bind-to-list-of-checkbox-values -->
  <label ng-cloak ng-repeat="pcat in pcategories">
    <input type="checkbox" ng-model="pcat.ischecked"/> {{pcat.name}}
    <br>
  </label>

  </span> <!-- f1 font style -->
  </div> <!-- box1 -->

  <div class="box1">
  <span class="f1"> <!-- f1 font style -->

  <!-- while the data is loading, display message: -->
  <div ng-cloak ng-if="isLoadingMessage">
    <i class="alert2">{{ isLoadingMessage }}</i>
  </div>

  <!-- once data has finished loading, output goes here: -->
  <div ng-cloak ng-if="myoutput && !isLoadingMessage">

    <span class="heavyredborder">Your cps is: {{ cps | number }} (standard dev: {{ std | number }})</span>

    <br>
    <br>

    Table data:

    <br>
    <br>

    <table border="1">
      <tr>
      <td><strong>patient</strong></td>
      <td><strong>total</strong></td>
      <td><strong>detectable</strong></td>
      <td><strong>unique</strong></td>
      <td><strong>unique_amp</strong></td>
      <td><strong>%amp</strong></td>
      <td><strong>%det</strong></td>
      </tr>

      <tr ng-repeat="(key, val) in myoutput">
      <td>{{key}}</td>
      <td>{{val.total_list[0] | number}}</td>
      <td>{{val.detectable_list[0] | number}}</td>
      <td>{{val.unique_list[0] | number}}</td>
      <td>{{val.unique_amp_list[0] | number}}</td>
      <td>{{val.p_amp_list[0] | number}}</td>
      <td>{{val.p_det_list[0] | number}}</td>
      </tr>
    </table>

    <br>

  </div> <!-- output -->

  <!-- C3.js -->
  <!-- hard won fact: C3.js doesn't play well with ng-cloak -->
  <div id="chart"></div>

  </span> <!-- f1 font style -->
  </div> <!-- box1 -->

  <p class="clear"></p>

  <br>
  <hr>
  <br>

  <div class="f2">
    <b>If you use the CPS Calculator, please cite the following article:</b>

    <br>
    <br>

    Sarah Laskey, Christopher Pohlmeyer, Oliver Elliott, Katherine Bruner and Robert Siliciano.
    <br>
    <strong>Optimization of PCR Strategies to Predict Clonality of Full-Length HIV-1 Sequences.</strong>

    <br>
    <br>

    <div class="box2">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
    </div>

    <div class="box3">
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">CPS Calculator</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Sarah Laskey and Oliver Elliott</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>

  </div> <!-- f2 -->

  </div> <!-- center -->
  </span> <!-- cpsCtrl -->
  </span> <!-- cpsApp -->

</body>

</html>
